#big-delete-project-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#project-title-for-delete {
  min-width: 860px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 37px;
  height: 45px;
  text-align: center;
  width: 45%;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
  border-radius: 0.2em 0.2em 0 0;
}

#project-title-for-delete div {
  display: flex;
  flex-direction: row;  
  align-items: center;
}

#project-title-for-delete div div {
  margin-bottom: 2px;
  color: #1b6ac9;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1em;
  font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

#delete-project-div {
  min-width: 929px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #ffffff;
  width: 49%;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
  border-radius: 0.2em 0.2em 0 0;
  padding-top: 40px;
  padding-bottom: 52vh;
}

#delete-project-div h1 {
    text-align: center;
    width: 77%;
    font-size: 28px;
    letter-spacing: -0.5px;
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
    color: #283c46;
}

#delete-project-div p {
      font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
    color: #283c46;
        line-height: 1.5;
            font-size: 16px;
            display: block;
            width: 74%;
}

#highlight-project-title {
  background-color: #ffea9a;
  margin-left: 3px;
  padding: 0 0.2em;
  border-radius: 4rem 2rem 4.2rem 1.1rem;
  box-shadow: 0.2em 0 0 #ffea9a, -0.2em 0 0 #ffea9a;
}

#delete-button {
  padding-top: 2px;
  padding-left: 3px;
  border-radius: 1.5em;
  font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
  font-size: 16px;
  width: 174px;
  height: 43px;
  display: block;
  margin: 19px 0;
  text-decoration: none;
  position: relative;
  left: 0;
  outline: none;
  background-color: #fcf2f1;
  border-color: #d4442e;
  color: #d4442e;
  margin-bottom: 211px;
}