.no-style {
  text-decoration: none !important;
  color: black !important;
}

.display-flex-doc-show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#doc-show-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#doc-show-image {
  max-width: 500px;
  max-height: 500px;
}


#doc-show-title {
  font-size: 28px;
  font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
  color: #283c46;
  font-weight: 600;
  margin-top: 40px;
}

#doc-item-description {
  font-size: 16px;
  font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
  color: #283c46;
  font-weight: 400;
}

#doc-item-created-at {
  font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
  color: #283c46;
  font-size: 13px;
  font-weight: 300;
}

.doc-show-buttons {
    display: flex;
    justify-content: space-between;
    margin: 14px;
    width: 95%;
    margin-bottom: 40px;
}

#doc-index-div div a {
    background-color: cadetblue;
    text-decoration: none;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.49), 0 1px 4px rgba(0, 0, 0, 0.56), 0 10px 30px #f3ece8;
    width: fit-content;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
    color: antiquewhite;
    font-weight: 600;
    border-radius: 4px;
}

#doc-index-div div button {
  background-color: indianred;
  text-decoration: none;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.49), 0 1px 4px rgba(0, 0, 0, 0.56), 0 10px 30px #f3ece8;
  width: fit-content;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
  color: antiquewhite;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}