#for-project-title-todo-list-container > div {
  cursor: pointer;
}

#first-h3-project, #second-h3-todo, #first-h3-todo-show, #second-h3-todo-show, #third-h3-todo-show {
  cursor: pointer;
}

#new-list-button > img {
  cursor: pointer;
}

#todo-list-item-title > h1 {
  cursor: pointer;
}

.checkbox-image, .show-todo-h3 {
  cursor: pointer;
}

#show-todo-creator > img {
  cursor: pointer;
}

#cancel-todo-button > img {
  cursor: pointer;
}

#show-more-todo-show {
  cursor: pointer;
}

#show-todo-creator-list-show > img {
  cursor: pointer;
}

#todo-show-checkbox > img {
  cursor: pointer;
}

#update-form-flex-row > div > img {
  cursor: pointer;
}

#new-doc-button > img {
  cursor: pointer;
}

#doc-item {
  cursor: pointer;
}

.doc-show-buttons > a {
  cursor: pointer;
}

.doc-show-buttons > button {
  cursor: pointer;
}

#docs-index-form-buttons > div > img {
  cursor: pointer;
}

#project-show-edit, #project-show-delete, #todo-show-delete, #todo-show-edit {
  cursor: pointer;
}

#create-button, .update-button, #delete-button {
  cursor: pointer;
}

#for-update-container > div {
  cursor: pointer;
}

#for-delete-container > div {
  cursor: pointer;
}

#doc-index-div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 auto;
  background-color: #ffffff;
  width: 90%;
  max-width: 930px;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
  border-radius: 0.2em 0.2em 0 0;
  padding-top: 40px;
  padding-bottom: 52vh; 
  position: relative;
  min-height: 394px;
}

#new-doc-button {
  position: absolute;
  left: 105px;
  top: 67px;
}


#doc-h2 {
    text-align: center;
    width: 77%;
    font-size: 2em;
    letter-spacing: -0.5px;
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
    color: #283c46;
    border-bottom: 3px solid #283c46;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 10px;
}

#documents-ul {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
}