/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import './splash.css';
@import './login-page.css';
@import './signup-page.css';
@import './project-index.css';
@import './show-project/show-project.css';
@import './todo_list_index/todo_list_index.css';
@import './todo_list_index/new_todo_list.css';
@import './todo_list_index_item/todo_list_index_item.css';
@import './todo_list_index_item/new_todo_on_list_index/new_todo_on_list_index.css';
@import './todo_list_show/todo_list_show.css';




html {
  scroll-behavior: smooth;
  background-color: #f6f2ef;
}

.white-background {
  background-color: #ffffff;
}